.list-group-item[data-v-40577aed]{border-radius:8px;border:1px solid var(--border-color);margin-bottom:.5rem;transition:all .2s ease}.list-group-item[data-v-40577aed]:hover{background:var(--bg-light);border-color:var(--primary-color)}
